@charset "UTF-8";

/* 제목 */
@font-face {
  font-family: Title;
  src: url('fonts/Inter-VariableFont_opsz,wght.ttf');
}

/* 본문 */
@font-face {
  font-family: Base;
  src: url('fonts/TenorSans-Regular.ttf');
}