@charset "UTF-8";

/* header */

[class $= inner] {
  width: 90vw;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 25px;
	height: 90px;
	position: sticky;
	top: 0;
	background-color: #FFFEF2;
}

.m-menu-btn {
	display: block !important;
	cursor: pointer;
	z-index: 10000;
}

.m-menu-btn span {
	font-size: 40px !important;
	font-weight: 600;
	cursor: pointer;
	display: block;
}

.header-inner {
	flex: 1;
	justify-content: center;
	gap: 0;
}

.logo {
	position: absolute;
	left: 45%;
	top: 30%;
	margin: 0;
}

.logo img {
	height: 35px;
}

.gnb,
.search {
	display: none !important;
}

.header-gnb {
	display: flex;
	align-items: center;
}

.page {
	display: flex;
	gap: 12px;
}

.page a span {
	font-size: 28px;
	font-weight: 500;
	color: #333;
}

.m-search-btn {
	display: block !important;
}

.gnb {
	display: none;
	position: fixed;
	top: 90px;
	left: 0;
	width: 50%;
	height: calc(100vh - 100px);
	background-color: #FFFEF2;
	flex-direction: column;
	padding: 50px 40px;
	gap: 70px;
	z-index: 9999;
	opacity: 0.9;
}


.gnb.active {
	display: flex !important;
}

/* visual */

.visual {
	padding: 40px 0;
}

.title {
	font-size: 18px;
	padding: 0 20px;
	margin-bottom: 25px;
}

.img-wrap {
	flex: 0 0 40%;
	padding: 0 8px;
}

.img-box {
	height: 250px;
	margin-bottom: 15px;
}

.info-box h4 {
	font-size: 14px;
	line-height: 1.4;
}

.info-box p {
	font-size: 12px;
	overflow: hidden;
}

.btn-wrap button {
	width: 30px;
	height: 30px;
	top: 200px;
	opacity: 0.7;
}

.btn-wrap .prev {
	left: 10px;
}

.btn-wrap .next {
	right: 10px;
}

.indicator span {
	width: 6px;
	height: 6px;
}